[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PySide2 = "*"
aiohttp = "*"
asyncqt = "*"
UPnPy = "*"
upnpclient = "*"
qasync = "*"

[dev-packages]

[requires]
python_version = "3.8"
